/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


*{
    font-size: 62.5%;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    margin:0 auto;
    border: 10px solid black;
    
    
    
}
a{
    border: 2px solid black;
    border-radius: 20px;
    
}


.header{

   background-color:#adc4dd;
    border-bottom: 10px solid black;
}
h1{
    font-size: 3rem;
    letter-spacing: 2px;
    text-decoration: line;
    margin-left: 5%;;
}
.header .navbar{
    
    display: flex;
    justify-content: left;
    margin: 1%;
    
    
}
.navBarLink{
    text-decoration: none;
    padding: 1%;
    background-color:  lightgrey;
    margin: 2%;
    color: black;
    transition:0.3s;
    font-size: 1.2rem;
}
.navBarLink:hover{
    background-color: black;
    color:lightgrey;
}

img{
    border:2px solid black;
}
.content{
    background-color: #778899;
    /* height:80%;
     */
}

.topContent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 2%; 
    flex-direction: row;
    
}
.topImg{
    width: 50%;
    margin: 5%;
    background-image: url('https://picsum.photos/200/?random=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* border: 1px solid black; */
}
.txtContent{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-evenly;
width: 50%;
margin-left: 7%;
margin-bottom: 6%;
padding: 5% 0;
height: 20%;

}
h2{
    font-size: 2rem;
    color: lightgrey;
    text-shadow: 2px 2px black;
    margin-top: 15%;
    text-decoration: underline;
    margin-bottom: 3%;
}
.projectLink{
    background-color: lightgrey;
    width: 25%;
    text-align: center;
    text-decoration: none;
    padding:2%;
    margin-bottom: 5%;
    color:black;
    transition:0.3s;
    font-size: 1rem;;
}

.info{
    margin-right: 20%;
    background-color: lightgrey;
    padding:3%;
    border: 3px solid black;
    font-size: 1.2rem;
    
}
.gallery, .galleryB{
    
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 3%;
    color:lightgrey;
    text-shadow: 1px 1px black;
}

.footer{
    
    background-color: #778899;
    
    text-align: center;
    
}
h3{
    font-size: 2rem;
    margin-bottom: 2%;
}
button{
    border: 2px solid black;
    border-radius: 20px;
    color:black;
    background-color: lightgrey;
    width: 20%;
    text-align: center;
    text-decoration: none;
    padding:1%;
    margin-bottom: 2%;
    font-family: 'Permanent Marker', cursive;
    transition:0.3s;
}
button:hover{
    background-color: black;
    color:lightgrey;
}
.projectLink:hover{
    background-color: black;
    color:lightgrey;
}


@media(max-width: 800px) {
.info, .projectLink{
    font-size: .8rem;
}

}
@media(max-width: 500px){
    .header .navbar{
        display: flex;
        justify-content: center;
        margin: 1%;
        flex-direction: column;
        align-items: center;
}
h1{
    text-align: center;
}
.topContent{
    width: 100%;
    display: flex;
    justify-content:center;
    text-align: center;
    margin-bottom: 2%; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.txtContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 0%;
    
    
    }
    p.info{
        margin: auto;
    }
    .projectLink{
        background-color: lightgrey;
        width: 50%;
        text-align: center;
        text-decoration: none;
        padding:2%;
        margin-bottom: 5%;
        color:black;
        transition:0.3s;
        font-size: 1rem;;
    }
    .topImg{
        height: 250px;
        margin:0%;
    }
    H2{
        margin-top: 0%;
    }
    .gallery, .galleryB{
    
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 3%;
        color:lightgrey;
        text-shadow: 1px 1px black;
        flex-wrap: wrap;
    }
}

    
